[backlight]
level = 100 # 30-180

[http]
url = https://127.0.0.1:4443/icingaweb2/monitoring/list/services?service_problem=1&service_notifications_enabled=1&service_acknowledged=0&limit=10&sort=service_last_state_change
username = icingausername
password = icingapassword

[acknowledge]
single_touch = true
double_touch = false

[buzzer]
enable = true
gpio = 24
active_high = false
